/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";  /*ここを追加*/
@import "bootstrap";            /*ここを追加*/
@import " font-awesome ";

header {
	color:white;
}

header .navbar-left span {
	font-size: 20px;
	padding-top: 10px;
}

body {
	margin-top: 50px;
}

.actions {
	margin-top:10px;
}
#error_explanation {
  color: red;
}
ol {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}
.flex {
	display: flex;
	align-items: flex-end;


	.flex > div {

}
}
.comment-list{
	margin: 0 5px;
	padding-bottom: 20px;
}
.comment {
	width: 450px;
	height: 100px;
}
.comment-text{
	float: left;
}
.comment-sbmit {
	margin-left: 5px;
	position: absolute;
	bottom: 0;
}
li {
	list-style: none;
}
